.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
}

.gameResult {
  font-size: 2rem;
  text-align: center;
}

.hangman-drawing {
  position: relative;
}

/* HANGMAN DRAWING */

#bottomBar{
  height: 10px;
  width: 250px;
  background: black;
}

#firstUpright{
  height: 400px;
  width: 10px;
  background: black;
  margin-left: 120px;
  /* 120 px is 250 / 2 and then minus 10/2 which is the bar */
}

#horizontalBar {
  height: 10px;
  width: 200px;
  background: black;
  margin-left: 120px;
}

#smallVerticalBar {
  height: 50px;
  width: 10px;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
}

#HEAD {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-style: solid;
  border-color:blue;
  border-width: 6px;
  position: absolute;
  top: 50px;
  right: -26px;
}

#BODY {
  width: 6px;
  height: 100px;
  position: absolute;
  background: blue;
  top: 110px;
  right: 0px;
}

#RIGHT_ARM {
  width: 100px;
  height: 6px;
  position: absolute;
  background: blue;
  top: 134px;
  right: -100px;
  rotate: -30deg;
  /* transform origin gör så att armen roterar vid basen */
  transform-origin: left bottom;
}

#LEFT_ARM {
  width: 100px;
  height: 6px;
  position: absolute;
  background: blue;
  top: 134px;
  right: 6px;
  rotate: 30deg;
  /* transform origin gör så att armen roterar vid basen */
  transform-origin: right bottom;
}

#RIGHT_LEG {
  width: 100px;
  height: 6px;
  position: absolute;
  background: blue;
  top: 255px;
  right: -82px;
  rotate: 30deg;
  transform-origin: right bottom;
}

#LEFT_LEG {
  width: 100px;
  height: 6px;
  position: absolute;
  background: blue;
  top: 255px;
  right: -10px;
  rotate: -30deg;
  transform-origin: left bottom;
}

/* HANGMAN WORD */

.hangmanWordDiv {
  display: flex;
  gap: .25em;
  font-size: 6rem;
  font-weight: bold;
  text-transform: upperCase;
  font-family: monospace;
}

#displayWord {
border-bottom: .1em solid black;
}

/* KEYBOARD */

.keyGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(75px,1fr));
  align-self: stretch;
}
